.header {
    background-color: #1F2937;
    padding: 50px;
    color: white;

}
.footer {
    background-color: #1F2937;
    padding: 50px;
    color: white;

}
.section_3 {
    background-color: #E5E7EB;
    padding: 50px;
    color: black;
}
